<div class="container">
    <img class="handshake" src="../../assets/handshake.png">
    <div class="upper-page"> 
        <a class="sublink" href="">Products</a>
        <a class="sublink" href="">Solutions</a>
        <a class="sublink" href="">Features</a>
        <a class="sublink" href="">Prices</a>
        <div class="login-try-free">
            <a class="login" href="">Login</a>
            <button type="button" class="btn btn-primary" matTooltip="Try Free">REGISTER NOW!</button>
        </div>
    </div>
    <div class="softbor-title">
        <img class="logo" src="../../assets/softbor-logo_blue.png">
        <h1 class="motto">Negotiate software</h1>
        <h1 class="motto">and get the best deal!</h1>
        <h3 class="motto-subtext">Use our platform to connect with clients or partners and</h3>
        <h3 class="motto-subtext">get the best price suggestions using our negotiation support</h3>
        <p><button type="button" class="btn btn-secondary" tooltip="Cal de mare">TRY FREE</button></p>
    </div>
</div>

