html,
body {
    height: 100%;
}

.handshake {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 70%;
    height: auto;
}

@media (max-width: 1200px)
{
    .handshake {
        visibility: hidden;
    }
}


.sublink {
    position: relative;
    top: 43px;
    left: 40%;
    color: black;
    margin-right: 40px;
}

@media (max-width: 1650px)
{
    .sublink {
        position: relative;
        top: 43px;
        left: 0;
        color: black;
        margin-right: 40px;
    }
}

@media (max-width: 900px)
{
    .sublink {
        visibility: hidden;
    }
}

.login-try-free{
    position: absolute;
    right: 150px;
    top: 20px;
}


.login-try-free{
    position: absolute;
    right: 150px;
    top: 20px;
}

@media (max-width: 900px)
{
    .login-try-free{
        position: absolute;
        top: 20px;
    }
}

.btn-primary{
    height: 70px;
    width: 170px;
 }

.login, .login:hover{
    position: relative;
    right: 10%;
    color: white;
    display: inline;
}

@media (max-width: 1200px)
{
    .login, .login:hover{
        position: relative;
        color: black;
        right: 10%;
        display: inline;
    }
}


.softbor-title{
    position: absolute;
    top: 10%;
    margin: 10px 10px 10px 10px;
}

.logo{
    max-width: 40%;
    height: auto;
}

@media (max-width: 900px)
{
    .logo{
        max-width: 100%;
        height: auto;
    }
}

.motto {
    font-size: 50px;
    font-weight: bold;
}

.motto-subtext {
    size: 15px;
}

.btn-secondary{
   background-color: rgb(28, 212, 28);
   border-color: rgb(91, 182, 1);
   height: 70px;
   width: 170px;
}