{% extends 'base.html' %} <!--Mosteneste codul din base.html-->

{% block head %} 
<title>Editing Tasks</title>
{% endblock %}

{% block body %}
<h1>My Tasks</h1> 


    <hr>
    <h2>Edit:</h2>
    <form action='/tasks/edit/{{task.id}}' method='POST'>
        Title:   <input type="text" name="title" id="title" value="{{task.title}}">
        <br>
        Post:    <input type ="text" name="content" id="content" value="{{task.content}}">
        <br>
        <input type="submit" value="Save">
    </form>
    <hr>


{% endblock %}